<div class="comment-box">
  <form>
    <textarea class="comment-text"></textarea>
    <p class="comment-warn">
      相手のことを考え丁寧なコメントを心がけましょう。
      <br>
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    </p>
    <button type="submit" class="comment-btn">
      <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
      <span>コメントする<span>
    </button>
  </form>
</div>
<div class="links">
  <a href="#" class="change-item-btn">
    ＜ 前の商品
  </a>
  <a href="#" class="change-item-btn">
    後ろの商品 ＞
  </a>
</div>